
@import "tailwindcss";
.upperpart{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
}


.userlist{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
     align-self: self-start;
}


.messagetime{
    display: flex;
    gap: 10px;
}

.messageblock{
    display: flex;
    justify-content:center;
    gap: 10px;
}

@media (max-width:1380px) {
    .introbox{
       width: 60%;
    }
}

@media (max-width:980px) {
    .introbox{
       width: 80%;
    }
}
@media (max-width:640px) {
    .hamburger{
        display: block;
    }
}
@media (max-width:520px) {
  .introbox{
       width: 100%;
    }   
}
@media (max-width:380px) {
   .introbox{
       font-size: 15px;
    }  
    .navbars h1{
        display:none;
    }
    .center h1{
        font-size: 2.5rem;
    }
}
