.upperpart{
    display: flex;
    justify-content: space-between;
}
.chatui{
   padding: 10px;
    background-color: rgb(233, 201, 105);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.leftone{
    width: 30%;
    border-radius: 20px;
    background-color: rgb(114, 29, 29);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.searchbar{
width: 100%;
display: flex;
justify-content: center;
gap: 5px;
padding: 5px;
}
.searchinput{
    width: 70%;
    padding: 7px;
    border-radius: 10px;
    border: none;
}
.searchbtn{
    border-radius: 10px;     
     border: none;
     background-color: rgb(174, 159, 114);
     cursor: pointer;
}
.userlist{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
     align-self: self-start;
}
.rightone{
    width: 60%;
    display: flex;
    flex-direction: column;
   gap: 2rem;
padding: 20px;
background-color: rgb(5, 61, 41);
border-radius: 20px;
}
.chatarea{
flex-basis: 1;
background-color: rgb(102, 173, 121);
display: flex;
overflow: auto;
height: 450px;
flex-direction: column;
border-radius: 10px;
gap: 1rem;
padding: 5px;
}
.messagetime{
    display: flex;
    gap: 10px;
}
.navbar{
  font-size: 20px;
  color: white;
  font-weight: bold;
    background-color: rgba(199, 60, 192, 0.83);
    border-radius: 15px;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.messageblock{
    display: flex;
    justify-content:center;
    gap: 10px;
}
.textarea{
    width: 70%;
    padding: 5px;
    font-size: medium;
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 224, 189);
}
.sendbtn{
    border-radius: 5px;
       padding: 5px;
     border: none;
     background-color: rgb(236, 224, 189);
     cursor: pointer;
}
