
@import "tailwindcss";
.upperpart{
    display: flex;
    justify-content: space-between;
}

.leftone{
    width: 30%;
    border-radius: 20px;
    padding-top: 15px;
   
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userlist{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
     align-self: self-start;
}
.rightone{
    width: 60%;
    display: flex;
    flex-direction: column;
   gap: 2rem;
padding: 20px;
border-radius: 20px;
}
.chatarea{
flex-basis: 1;
display: flex;
overflow: auto;
height: 400px;
flex-direction: column;
border-radius: 10px;
gap: 1rem;
padding: 5px;
}
.messagetime{
    display: flex;
    gap: 10px;
}

.messageblock{
    display: flex;
    justify-content:center;
    gap: 10px;
}


